---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Web Developer",
    company: "Gestamos S.A.S",
    description:
      "Responsable del desarrollo de los modulos asignados de una plataforma interna, gestionando bases de datos, creando interfaces intuitivas y desarrollando funcionalidades personalizadas en el frontend y backend, asegurando una arquitectura robusta y escalable, adaptada a los requerimientos de cada módulo.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Febrero 2024 - Agosto 2024",
    title: "Web Developer",
    company: "Sena Empresa La Granja Espinal, Tolima",
    description:
      "Desarrollo de aplicaciones de la estrategia Sena Empresa La Granja. Aportacion de soluciones para implementación de Git y GitHub para realizar despliegue de múltiples aplicativos en la nube, debido a que se alojaban en un servidor local.",
  },
  {
    date: "Febrero 2024 - Agosto 2024",
    title: "Social Media Manager",
    company: "Sena Empresa La Granja Espinal, Tolima",
    description:
      "Administracion de Redes Sociales de la estrategia Sena Empresa La Granja, generando y defiendo objetivos para el crecimiento de la estrategia en redes sociales.",
  },
  {
    date: "Agosto 2023 - Enero 2024",
    title: "Front End Developer JR",
    company: "Desarrollos Moyan",
    description:
      "Desarrollo de aplicaciones en la parte Front-End, creando interfaces intuitivas que mejoran significativamente la experiencia del    usuario. Realizo el consumo e integración de APIs, asegurando una comunicación fluida entre el frontend y el backend. Además, documento detalladamente las APIs utilizadas, facilitando la comprensión y el mantenimiento para futuros proyectos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
